@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Armata);
body {
color: #f0f2f4;
font-family: 'Armata', sans-serif;
font-size: 1.5em;

background: url(../images/ircad_france.png) no-repeat 99% 99%,
url(../images/ihu_couleur_grand.png) no-repeat 1% 99%;
background-size: 10% auto, 10% auto;
background-color: #6F8197
}
h1 {
font-family: 'Bitter' , serif;
font-weight: bold;
text-italic: none;
font-size: 2em;
}
h2 {
font-family: 'Bitter', serif;
}
blockquote {
font-family: 'Bitter', serif;
font-style: italic;
}
a, em {
color: #91C5CF;
text-decoration: none;
font-weight: bold;
}
video {
display: block;
margin: 0 auto;
}

#circle-no-background {
width: 900px;
height: 900px;
border:1px solid #a4a4a4;
border-radius: 500px;
text-align: center;
}
#circle-background {
width: 900px;
height: 900px;
background: #e8e8e8;
border:1px solid #a4a4a4;
border-radius: 500px;
text-align: center;
}
#square-no-background {
width: 900px;
height: 600px;
border:1px solid #a4a4a4;
border-radius:0px;
position: relative;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;
}
#square-background {
width: 900px;
height: 600px;
background: #e8e8e8;
border:1px solid #a4a4a4;
border-radius:0px;
position: relative;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;
}
